# Allow replication connections from the slave
host    replication     replicator      192.168.100.19/32        trust

# Allow local connections for the postgres user
local   all             postgres                                trust

# TYPE  DATABASE        USER            ADDRESS                 METHOD
host    all             all             0.0.0.0/0               md5
