listen_addresses = '*'
wal_level = replica
max_wal_senders = 10
max_replication_slots = 2
wal_keep_size = 64MB
archive_mode = on
archive_command = 'cd .'
ssl = on
ssl_cert_file = '/var/lib/postgresql/certs/server.crt'
ssl_key_file = '/var/lib/postgresql/certs/server.key'
